# Path: .env.example


# Dirección IP de la cámara
IP=your_camera_ip

# Credenciales de usuario
USER=your_username
PASSWORD=your_password

# Modo de operación: "img", "usb" o "wifi"
MODE="img"

# Ruta de la imagen de entrada
IMAGE_PATH="C:\AppServ\www\computer_vision\snapshots\solapa.jpeg"

# Ruta estática para recursos
STATIC_PATH="C:\AppServ\www\datamaq_vue\dist"
